* {
  padding: 0;
  margin: 0;
}

:root {
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #ffe6f0;
  --greene: rgb(100, 255, 218);
  --green-tint: rgba(100, 255, 218, 0.1);
  --pinky: #f57dff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Calibre", sans-serif;
  color: var(--slate);
}

p {
  font-family: "monospace", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: var(--dark-slate);
}


.p-btn {
  border: 1px solid;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--navy);
  text-decoration: none !important;
  color: var(--greene);
}
.img-fluid.img-header {
  position: relative;
  left: 100px;
}

.p-btn:hover {
  opacity: 1;
  background-color: var(--greene);
  color: var(--dark-slate);
}

.r-p {
  padding-top: 80px;
  padding-bottom: 80px;
}

.bg-sec {
  background: var(--navy);
}

/* Preloader */

.preloader:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background-color: #000;
  transition: 2s;
}
.preloader:after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  background-color: #000;
  transition: 2s;
}

.preloader.complete:before {
  bottom: -50%;
}
.preloader.complete:after {
  top: -50%;
}

.preloader.complete {
  visibility: hidden;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, 0.1);
  border-top: 10px solid var(--navy);
  animation: animate 2.5s infinite linear;
  z-index: 99999;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* Navigation---------------------------------------------------------------------------- */
nav .navbar-brand {
  font-size: 30px;
  color: #fff;
  transition: 0.5s all;
}
nav .navbar-nav li {
  margin-left: 15px;
}
nav .navbar-nav li a {
  color: rgba(255, 255, 255, 0.8) !important;
  font-size: 16px;
  letter-spacing: 0.05em;
  font-weight: 600;
  font-family: "Calibre", sans-serif;
}
nav.r-nav {
  background: transparent;
  padding: 5px 0px;
  transition: 0.5s all;
}

nav.r-nav.stickyadd {
  padding: 5px 0;
  box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.05);
  transition: 0.5s all ease-in-out;
}
nav.stickyadd .navbar-brand {

  font-size: 32px;
  transition: 0.5s all;
}

.navbar .hamburger {
color: #fff!important;
}

nav *,
header * {
  animation-delay: 0.5s;
}

.takeout {
  display: none!important;
}

/* Header -----------------------------------------------------------------------*/

header {
  height: 100vh;
  width: 100%;
  border-radius: 10 px;
  background: var(--navy);
  z-index: -1;
}

.header-content {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
/*----Particles-JS BACKGROUND------*/

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

#home h1 {
  color: #fff;
}

/* About Us */
.about {
  background-color: var(--navy);
}
.about li a {
  color: #000;
  display: inline-block;
  height: 42px;
  width: 42px;
  font-size: 20px;
  border-radius: 50%;
  border: 2px solid var(--greene);
  line-height: 40px;
  transition: 0.5s all;
  text-align: center;
}

.about li a:hover {
  color: #081730;
}

.profile-photo {
  margin: 10px auto;
  box-shadow: black 1px 3px 32px -4px;
  border-radius: 16px;
  transition: ease 2.5s all;
  position: relative;
  mix-blend-mode: multiply;
  filter: grayscale(100%) contrast(1);
}
.profile-photo:hover {
  filter: none;
  mix-blend-mode: normal;
}

.img-about {
  margin-top: 50px;
  border-radius: 16px;
  height: 70%;
  opacity: 0.3;
  background-color: var(--greene);
  transition: ease 2s all;
}

.img-about:hover {
  opacity: 1;
  background: none;
}

.about .r-icon li .fab,
.fas {
  color: var(--dark-slate);
}

/* Experience ---------------------------------------------------------*/

.experience {
  background-color: var(--navy);
}

.icon {
  width: 45px;
}

/* Project */

.card,
.card-header {
  background-color: var(--navy) !important;
  border: none !important;
}

.card-header {
  border: none !important;
}

.services .card-header i {
  font-size: 50px;
}
.service-border {
  height: 2px;
  width: 40px;
  margin: 15px auto;
  background: var(--greene);
  transition: 0.5s all;
}
.services h5:hover + .service-border {
  width: 100px;
}

.services p {
  font-size: 16px;
}
.card img {
  border: 25px;
}

.card-img-top {
  height: 250px;
  width: 100%;
}

.hire {
  background-color: var(--navy);
}

/* Contact */
.contact .r-icon {
  font-size: 50px;
  text-align: center;
  color: var(--greene);
}

/* footer */
footer {
  height: 200px;
  background-color: var(--navy);
}
footer .r-icon a {
  font-size: 20px;
  color: var(--dark-slate);
  padding: 10px;
  border: 1px solid var(--greene);
  border-radius: 50%;
}
footer .r-icon a:hover {
  border: 1px solid #eee;
  color: #eee;
  transition: 0.5s all;
}
/* Media-------------------------------------------------------------------------------- */
@media (max-width: 990px) {
  .img-about {
    width: 50% !important;
    height: 50% !important;
    margin: auto;
  }
  .img-fluid.img-header {
    display: none;
  }
}

@media (min-width: 200px) and (max-width: 768px) {
nav.r-nav.stickyadd {
background-color: var(--dark-navy);

}

  .r-nav .container {
    width: 85%;
  }
  nav .navbar-brand {
    font-size: 30px;
    color: #fff;
  }

  header {
    height: 100vh;
    width: 100%;
  }
}
